@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(56, 56, 102);
}

#espaco {
    background-color:rgb(28, 13, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 500px;
    border-radius: 8px;
    margin: 50px;
    margin-left: 180px;
    padding-top: 17px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 20%), 0 10px 16px rgb(0 0 0 / 20%);
}

#login {    
    display: flex;
    flex-direction: column;
    background-color: rgb(52, 43, 75);
    height: 180px;
    width: 280px;
    border-radius: 8px;
    padding-top: 20px;
    gap: 20px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 20%), 0 10px 16px rgb(0 0 0 / 20%);
}

h1 {
    color: white;
    font-family: Josefin Sans;
    text-align: center;
}

.input {
    color: white;
    height: 32px;
    width: 230px;
    border-radius: 8px;
    border: none;
    background-color: rgb(111, 111, 134);
    margin-left: 23px;
    font-size: 15px;
}

.submit {
    height: 33px;
    width: 110px;
    border-radius: 22px;
    border: none;
    background-color: rgb(205, 205, 240);
    color: black;
    cursor: pointer;
    font-family: Josefin Sans;
    font-size: 15px;
}

.submit:hover {
    height: 33px;
    width: 110px;
    border-radius: 22px;
    border: none;
    background-color: rgb(111, 111, 134);
    color: white;
    cursor: pointer;
    font-family: Josefin Sans;
    font-size: 16px;
}

::-webkit-input-placeholder {
    color: white;
    padding-left: 5px;
}

#enviar {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(188, 188, 221);
    cursor: pointer;
    padding-top: 10px;
}